In [1]:
import pandas as pd

In [33]:
# Reading dataset file
df = pd.read_csv(r'C:\Users\omdre\OneDrive\Desktop\Codecademy\Demographic Statistics By Zip Code\Demographic_Statistics_By_Zip_Code _ForExcel.csv')

In [5]:
print(df)

     JURISDICTION NAME  COUNT PARTICIPANTS  COUNT FEMALE  PERCENT FEMALE  \
0                10001                  44            22            0.50
1                10002                  35            19            0.54
2                10003                   1             1            1.00
3                10004                   0             0            0.00
4                10005                   2             2            1.00
..                 ...                 ...           ...             ...
231              12788                  83            39            0.47
232              12789                 272           115            0.42
233              13731                  17             2            0.12
234              16091                   0             0            0.00
235              20459                   0             0            0.00

     COUNT MALE  PERCENT MALE  COUNT GENDER UNKNOWN  PERCENT GENDER UNKNOWN  \
0            22          0.50                     0                       0
1            16          0.46                     0                       0
2             0          0.00                     0                       0
3             0          0.00                     0                       0
4             0          0.00                     0                       0
..          ...           ...                   ...                     ...
231          44          0.53                     0                       0
232         157          0.58                     0                       0
233          15          0.88                     0                       0
234           0          0.00                     0                       0
235           0          0.00                     0                       0

     COUNT GENDER TOTAL  PERCENT GENDER TOTAL  ...  \
0                    44                   100  ...
1                    35                   100  ...
2                     1                   100  ...
3                     0                     0  ...
4                     2                   100  ...
..                  ...                   ...  ...
231                  83                   100  ...
232                 272                   100  ...
233                  17                   100  ...
234                   0                     0  ...
235                   0                     0  ...

     COUNT CITIZEN STATUS TOTAL  PERCENT CITIZEN STATUS TOTAL  \
0                            44                           100
1                            35                           100
2                             1                           100
3                             0                             0
4                             2                           100
..                          ...                           ...
231                          83                           100
232                         272                           100
233                          17                           100
234                           0                             0
235                           0                             0

     COUNT RECEIVES PUBLIC ASSISTANCE  PERCENT RECEIVES PUBLIC ASSISTANCE  \
0                                  20                                0.45
1                                   2                                0.06
2                                   0                                0.00
3                                   0                                0.00
4                                   0                                0.00
..                                ...                                 ...
231                                35                                0.42
232                                70                                0.26
233                                 7                                0.41
234                                 0                                0.00
235                                 0                                0.00

     COUNT NRECEIVES PUBLIC ASSISTANCE  PERCENT NRECEIVES PUBLIC ASSISTANCE  \
0                                   24                                 0.55
1                                   33                                 0.94
2                                    1                                 1.00
3                                    0                                 0.00
4                                    2                                 1.00
..                                 ...                                  ...
231                                 48                                 0.58
232                                202                                 0.74
233                                 10                                 0.59
234                                  0                                 0.00
235                                  0                                 0.00

     COUNT PUBLIC ASSISTANCE UNKNOWN  PERCENT PUBLIC ASSISTANCE UNKNOWN  \
0                                  0                                  0
1                                  0                                  0
2                                  0                                  0
3                                  0                                  0
4                                  0                                  0
..                               ...                                ...
231                                0                                  0
232                                0                                  0
233                                0                                  0
234                                0                                  0
235                                0                                  0

     COUNT PUBLIC ASSISTANCE TOTAL  PERCENT PUBLIC ASSISTANCE TOTAL
0                               44                              100
1                               35                              100
2                                1                              100
3                                0                                0
4                                2                              100
..                             ...                              ...
231                             83                              100
232                            272                              100
233                             17                              100
234                              0                                0
235                              0                                0

[236 rows x 46 columns]

In [34]:
# Retrieving dataframe information:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236 entries, 0 to 235
Data columns (total 46 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   JURISDICTION NAME                    236 non-null    int64
 1   COUNT PARTICIPANTS                   236 non-null    int64
 2   COUNT FEMALE                         236 non-null    int64
 3   PERCENT FEMALE                       236 non-null    float64
 4   COUNT MALE                           236 non-null    int64
 5   PERCENT MALE                         236 non-null    float64
 6   COUNT GENDER UNKNOWN                 236 non-null    int64
 7   PERCENT GENDER UNKNOWN               236 non-null    int64
 8   COUNT GENDER TOTAL                   236 non-null    int64
 9   PERCENT GENDER TOTAL                 236 non-null    int64
 10  COUNT PACIFIC ISLANDER               236 non-null    int64
 11  PERCENT PACIFIC ISLANDER             236 non-null    float64
 12  COUNT HISPANIC LATINO                236 non-null    int64
 13  PERCENT HISPANIC LATINO              236 non-null    float64
 14  COUNT AMERICAN INDIAN                236 non-null    int64
 15  PERCENT AMERICAN INDIAN              236 non-null    float64
 16  COUNT ASIAN NON HISPANIC             236 non-null    int64
 17  PERCENT ASIAN NON HISPANIC           236 non-null    float64
 18  COUNT WHITE NON HISPANIC             236 non-null    int64
 19  PERCENT WHITE NON HISPANIC           236 non-null    float64
 20  COUNT BLACK NON HISPANIC             236 non-null    int64
 21  PERCENT BLACK NON HISPANIC           236 non-null    float64
 22  COUNT OTHER ETHNICITY                236 non-null    int64
 23  PERCENT OTHER ETHNICITY              236 non-null    float64
 24  COUNT ETHNICITY UNKNOWN              236 non-null    int64
 25  PERCENT ETHNICITY UNKNOWN            236 non-null    float64
 26  COUNT ETHNICITY TOTAL                236 non-null    int64
 27  PERCENT ETHNICITY TOTAL              236 non-null    int64
 28  COUNT PERMANENT RESIDENT ALIEN       236 non-null    int64
 29  PERCENT PERMANENT RESIDENT ALIEN     236 non-null    float64
 30  COUNT US CITIZEN                     236 non-null    int64
 31  PERCENT US CITIZEN                   236 non-null    float64
 32  COUNT OTHER CITIZEN STATUS           236 non-null    int64
 33  PERCENT OTHER CITIZEN STATUS         236 non-null    float64
 34  COUNT CITIZEN STATUS UNKNOWN         236 non-null    int64
 35  PERCENT CITIZEN STATUS UNKNOWN       236 non-null    int64
 36  COUNT CITIZEN STATUS TOTAL           236 non-null    int64
 37  PERCENT CITIZEN STATUS TOTAL         236 non-null    int64
 38  COUNT RECEIVES PUBLIC ASSISTANCE     236 non-null    int64
 39  PERCENT RECEIVES PUBLIC ASSISTANCE   236 non-null    float64
 40  COUNT NRECEIVES PUBLIC ASSISTANCE    236 non-null    int64
 41  PERCENT NRECEIVES PUBLIC ASSISTANCE  236 non-null    float64
 42  COUNT PUBLIC ASSISTANCE UNKNOWN      236 non-null    int64
 43  PERCENT PUBLIC ASSISTANCE UNKNOWN    236 non-null    int64
 44  COUNT PUBLIC ASSISTANCE TOTAL        236 non-null    int64
 45  PERCENT PUBLIC ASSISTANCE TOTAL      236 non-null    int64
dtypes: float64(15), int64(31)
memory usage: 84.9 KB

In [36]:
# Returning top 5 rows
df.iloc[:5]

,JURISDICTION NAME,COUNT PARTICIPANTS,COUNT FEMALE,PERCENT FEMALE,COUNT MALE,PERCENT MALE,COUNT GENDER UNKNOWN,PERCENT GENDER UNKNOWN,COUNT GENDER TOTAL,PERCENT GENDER TOTAL,...,COUNT CITIZEN STATUS TOTAL,PERCENT CITIZEN STATUS TOTAL,COUNT RECEIVES PUBLIC ASSISTANCE,PERCENT RECEIVES PUBLIC ASSISTANCE,COUNT NRECEIVES PUBLIC ASSISTANCE,PERCENT NRECEIVES PUBLIC ASSISTANCE,COUNT PUBLIC ASSISTANCE UNKNOWN,PERCENT PUBLIC ASSISTANCE UNKNOWN,COUNT PUBLIC ASSISTANCE TOTAL,PERCENT PUBLIC ASSISTANCE TOTAL
0,10001,44,22,0.50,22,0.50,0,0,44,100,...,44,100,20,0.45,24,0.55,0,0,44,100
1,10002,35,19,0.54,16,0.46,0,0,35,100,...,35,100,2,0.06,33,0.94,0,0,35,100
2,10003,1,1,1.00,0,0.00,0,0,1,100,...,1,100,0,0.00,1,1.00,0,0,1,100
3,10004,0,0,0.00,0,0.00,0,0,0,0,...,0,0,0,0.00,0,0.00,0,0,0,0
4,10005,2,2,1.00,0,0.00,0,0,2,100,...,2,100,0,0.00,2,1.00,0,0,2,100

In [37]:
# Returning 2 first rows:
df.iloc[:, :2]

     JURISDICTION NAME  COUNT PARTICIPANTS
0                10001                  44
1                10002                  35
2                10003                   1
3                10004                   0
4                10005                   2
..                 ...                 ...
231              12788                  83
232              12789                 272
233              13731                  17
234              16091                   0
235              20459                   0

[236 rows x 2 columns]

In [42]:
# Selecting one column:
df['JURISDICTION NAME']

0      10001
1      10002
2      10003
3      10004
4      10005
       ...
231    12788
232    12789
233    13731
234    16091
235    20459
Name: JURISDICTION NAME, Length: 236, dtype: int64

In [44]:
# Selecting multiple columns using column names:
df[['JURISDICTION NAME', 'COUNT PARTICIPANTS']]

     JURISDICTION NAME  COUNT PARTICIPANTS
0                10001                  44
1                10002                  35
2                10003                   1
3                10004                   0
4                10005                   2
..                 ...                 ...
231              12788                  83
232              12789                 272
233              13731                  17
234              16091                   0
235              20459                   0

[236 rows x 2 columns]

In [109]:
# Sorting data by highest number of participants per jurisdiction, returning 10 rows, descending order:
df.sort_values(by=['COUNT PARTICIPANTS','JURISDICTION NAME'], ascending=False) [:10]

,JURISDICTION NAME,COUNT PARTICIPANTS,COUNT FEMALE,PERCENT FEMALE,COUNT MALE,PERCENT MALE,COUNT GENDER UNKNOWN,PERCENT GENDER UNKNOWN,COUNT GENDER TOTAL,PERCENT GENDER TOTAL,...,COUNT CITIZEN STATUS TOTAL,PERCENT CITIZEN STATUS TOTAL,COUNT RECEIVES PUBLIC ASSISTANCE,PERCENT RECEIVES PUBLIC ASSISTANCE,COUNT NRECEIVES PUBLIC ASSISTANCE,PERCENT NRECEIVES PUBLIC ASSISTANCE,COUNT PUBLIC ASSISTANCE UNKNOWN,PERCENT PUBLIC ASSISTANCE UNKNOWN,COUNT PUBLIC ASSISTANCE TOTAL,PERCENT PUBLIC ASSISTANCE TOTAL
232,12789,272,115,0.42,157,0.58,0,0,272,100,...,272,100,70,0.26,202,0.74,0,0,272,100
218,12734,252,170,0.67,82,0.33,0,0,252,100,...,252,100,61,0.24,191,0.76,0,0,252,100
130,11230,248,194,0.78,54,0.22,0,0,248,100,...,248,100,42,0.17,206,0.83,0,0,248,100
228,12779,242,183,0.76,59,0.24,0,0,242,100,...,242,100,155,0.64,87,0.36,0,0,242,100
120,11219,214,182,0.85,32,0.15,0,0,214,100,...,214,100,112,0.52,102,0.48,0,0,214,100
229,12783,201,66,0.33,135,0.67,0,0,201,100,...,201,100,77,0.38,124,0.62,0,0,201,100
222,12754,134,64,0.48,70,0.52,0,0,134,100,...,134,100,27,0.20,107,0.80,0,0,134,100
210,12428,124,74,0.60,50,0.40,0,0,124,100,...,124,100,71,0.57,53,0.43,0,0,124,100
119,11218,111,97,0.87,14,0.13,0,0,111,100,...,111,100,51,0.46,60,0.54,0,0,111,100
124,11223,109,53,0.49,56,0.51,0,0,109,100,...,109,100,20,0.18,89,0.82,0,0,109,100